@import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto+Slab:700');


* {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin:0;
    padding:0;
    background-color: #272a33;
    color: #ccc;
}

h1 {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    margin: 0;
}

p,em,i {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

nav {
    position: fixed;
    height: 92px;
    width: 100%;
    top: 0;
    margin:0;
    padding:0;
    text-align: center;
    background-color: #272a33;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);

}

nav a {
    color: #ccc;
    font-size: 2.4rem;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    line-height: 92px;
    margin: 0px 20px;
}

nav a:hover {
    border-bottom: 3px solid #ccc;
}

main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    text-align: center;
}



#welcome-section p {
    display: block;
    margin: 5px;
}

#projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    
}

#projects h1 {
    margin: 100px 0;
}


#projects-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 470px 470px 470px;
    grid-row-gap: 60px;
    grid-column-gap: 60px;
    grid-template-areas: 
    'tribute survey landing'
    'documentation calculator pomodoro'
    'simon etch .'
    ;

}

#projects-container div {
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: hsl(225, 13%, 23%);

}

#projects-container div a {
    box-sizing: border-box;
    text-decoration: none;
    color: #ccc;
    
}

#projects-container div img {
    width: 400px;
    height: 400px;
    display: block;
    box-sizing: border-box;
}

#projects-container div p {
    display:block;
    box-sizing: border-box;
    padding: 15px 0;
    margin: 0;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    box-sizing: border-box;
}
#contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align:center;
    box-sizing: border-box;
}

#contact a {
    display: block;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    color: #ccc;
    text-decoration: none;
    margin: 20px;
}


#contact a:hover {
    border-bottom: 3px solid #ccc;
    margin-top: 17px;
}

@media only screen and (max-width: 1319px) {
    #projects-container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 400px 400px;
        grid-template-rows: 470px 470px 470px 470px;
        grid-row-gap: 60px;
        grid-column-gap: 60px;
        grid-template-areas: 
        'tribute survey'
        'landing documentation'
        'calculator pomodoro'
        'simon .'
        ;
    }
}

@media only screen and (max-width: 859px) {
    #projects-container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 400px;
        grid-template-rows: repeat(7,470px);
        grid-row-gap: 60px;
        grid-column-gap: 60px;
        grid-template-areas: 
        'tribute'
        'survey'
        'landing'
        'documentation'
        'calculator'
        'pomodoro'
        'simon';
    }

    
    #contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
    }

}

@media only screen and (max-width: 416px) {
    nav {
        height: 57.5px;
    }    
    nav a {
        font-size: 1.5rem;
        line-height: 57.5px;
    }

    #projects-container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 320px;
        grid-template-rows: repeat(7,390px);
        grid-row-gap: 60px;
        grid-column-gap: 60px;
        grid-template-areas: 
        'tribute'
        'survey'
        'landing'
        'documentation'
        'calculator'
        'pomodoro'
        'simon';
    }

    #projects-container div img {
        width: 320px;
        height: 320px;
    }
    h1 {
        font-size: 2.5rem;
    }

    p,em,i {
        font-size: 1.6rem;
    }

    #contact a {
        font-size: 1.6rem;
    }
    
    
}
