@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Righteous');


body {
    background-color: #333333;
}
.container {
    margin: 0 auto;
    text-align: center;
}
#main {
    margin: 10% auto;
    height: 600px;
    width: 600px;
    border: solid 5px black;
    border-radius: 600px;
}
.outerBox {
    height: 295px;
    width: 295px;
    float:left;
    position: relative;
}
#green {
    border-top-left-radius: 100%;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    background: #28a745;
}
#green:active {
    background: #007E33;
}
#red {
    border-top-right-radius: 100%;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    background: #dc3545;
}
#red:active {
    background: #CC0000;
}
#yellow {
    border-bottom-left-radius: 100%;
    border-right: solid 2px black;
    border-top: solid 2px black;
    background: #ffc107;
}
#yellow:active {
    background :#FF8800;
}
#blue {
    border-bottom-right-radius: 100%;
    border-left: solid 2px black;
    border-top: solid 2px black;
    background: #007bff;    
}
#blue:active {
    background: #0d47a1;
}
#centerMain {
    height: 300px;
    width: 300px;
    border: solid 5px black;
    border-radius: 100%;
    position: absolute;
    z-index: 2;    
    color:white;
    margin-left: 145px;
    margin-top: 145px;
}
#simonLogo {
    color:black;
    font-size: 5rem;
    margin:10% auto;
    font-family: 'Righteous', cursive;
    user-select: none;
    -webkit-user-select: none; 

}
#centerButtons {
    margin:-5% auto;
    text-align: center;  
}

#screen {
    background: #32050C;
    height: 50px;
    width: 100px;
    border: solid 5px black;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    
}
#screenText {
    margin: -18% auto;
    color: #DC0D29;
    font-family: 'VT323', monospace;
    font-size: 3rem;  
}
#start {
    height: 60px;
    width: 60px;
    border-radius: 60px;    
}

#strict {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    
}
#strict:focus {
    -webkit-box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.75);
}