@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
    background: #333333;
}
.container {
    background: #ccc;
    margin: 10% auto;
    height: 450px;
    width: 350px;
    border: solid 1px #ccc;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 18px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px 12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px 12px rgba(0,0,0,0.75);
}
.buttons {
    margin-left: 13px;
}
.button {    
    width: 68px;
    height: 55px;
    margin:1px;
    margin-bottom:4px;
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,1);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.button:active {
    box-shadow: none;
    transform: translateY(3px);
}
.screen {
    height: 67.5px;
    width: 290px;
    background:#c3c2ab;
    margin: 30px auto;
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    line-height: 67.5px;
    border: solid 2px black;
}
.equal {
    height: 115px!important;
}
.zero {
    width: 142px!important;
}
.one,.two,.three,.equal {
    vertical-align: top;
}
.fifthRow {
    margin-top:-60px;
}
.dot {
    margin-left: 1.3px;
}
